.blue-text {
  color: $blue-color;
}

.centered-content {
  place-items: center;
}

.display-grid {
  display: grid;
}

.display-flex {
  display: flex;
}

.primary-btn {
  text-transform: uppercase;
  background-color: $blue-color;
  color: #fff;
  font-size: 0.7rem;
  width: 100%;
  border-radius: 0.2rem;
}
