@import 'reset';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Roboto+Slab:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.nav {
  grid-template-columns: 6fr 0.5fr;
  margin: 1rem;
  border-bottom: solid 1px #e8e8e8;
  padding-bottom: 1rem;

  .nav-user-container {
    border: 1px solid #e8e8e8;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-left: auto;
  }

  .nav-left {
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;

    h1 {
      font-size: 2rem;
      font-weight: 500;
      margin-right: 0.7rem;
    }

    h4 {
      margin-right: 0.7rem;
    }
  }
}

tr {
  border: 1px solid #e8e8e8;
  margin: 1rem 0 1rem 0;
  display: block;
  padding: 1rem;
  grid-template-columns: 1.5fr 1fr 1fr;
}

hr {
  width: 80%;
  border: 1px solid #e8e8e8;
  margin: 2rem auto;
}

table {
  width: 80%;
  margin: 2rem auto;
}

.td-leftmost {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 0.2rem;
}

.book-category {
  color: #9e9e9e;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
}

.book-title {
  color: #121212;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

.option-btn {
  background-color: #fff;
}

.author {
  margin-top: 0.3rem;
}

.p-vertical {
  color: #e8e8e8;
  display: inline;
  margin: 0 1rem 0 1rem;
}

.td-middle {
  grid-template-columns: 1fr 1fr;
  border-right: 1px solid #e8e8e8;

  .percent-number {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
  }

  .completed-text {
    color: #9e9e9e;
    font-family: 'Montserrat', sans-serif;
  }

  .percent-circle {
    width: $percent-circle-diameter;
    height: $percent-circle-diameter;
    border-radius: 50%;
    background-color: $blue-color;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      height: $percent-circle-measures;
      width: $percent-circle-measures;
      line-height: $percent-circle-measures;
      border-radius: 50%;
      background-color: #fff;
      font-size: 1.4em;
      text-align: center;
    }

    @for $counter from 1 through 50 {
      &.percent-circle-#{$counter} {
        &::after {
          content: "#{$counter}%";
        }
      }
    }

    @for $counter from 51 through 100 {
      &.percent-circle-#{$counter} {
        background-image:
          linear-gradient(90deg, transparent 50%, $blue-color 50%),
          linear-gradient(-90deg+(360*0.01*($counter - 50)), transparent 50%, #e8e8e8 50%);

        &::after {
          content: "";
        }
      }
    }
  }
}

.td-rightmost {
  padding-left: 2rem;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1rem;
  font-family: 'Roboto Slab', sans-serif;

  .current-chapter-container {
    text-transform: uppercase;
    color: #8a8888;
    font-size: 0.9rem;
  }
}

@import 'utilities';
