@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Roboto+Slab:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.nav {
  display: grid;
  grid-template-columns: 6fr 0.5fr;
  margin: 1rem;

  .nav-left {
    display: flex;
    flex-direction: row;
    place-items: center;
    font-family: 'Montserrat', sans-serif;

    h1 {
      font-size: 2rem;
      font-weight: 500;
      color: #2ea3ff;
      margin-right: 0.7rem;
    }

    h3 {
      margin-right: 0.7rem;
    }
  }
}
